head {
    background-color: aqua;
}
body {
    background-color: rgb(241, 106, 232);
    font-size: 28px;
}
h1 {
    font-size: 44px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, serif;
    padding: 5px 2.5px 1px 5px;

}
p {
    
    text-align: center;
    text-indent: 6%;
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header {
    background-color: #e038b1;
    color: #DDDDDD;
    text-align: center;
    font-size: 32px;
    word-spacing: -15%;
    border-bottom: #ac2a87;
    border-radius: 66%;
    border-width: 35pt;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: -2%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer {
    background-color: #71315f;
    color: #aaaaaa
}
main {
    text-align: center;
    background-color: #ef95d6;
}
a {
    font-size: 24px;
    color: #DDDDDD
}
ol {
    text-align: center;
    list-style: inside;
}

ul {
    text-align: center;
    list-style: inside;
    list-style-type: none;
}

li {
    text-align: match-parent;
    text-justify: distribute;
    
}

.highlight {
    color: rgb(29, 107, 76);
    font-weight: bold;
}

#navTitle {
    font-size: 32px;
    transform: translateY(-02%);
    transform: translateX(-2%);
    color: #300120;
    font-weight: bold;
}
.submitButton {
    color: rgb(48, 67, 16);
    font-weight: bold;
    background-color: rgb(133, 110, 155);
}
#shrekMainTitle {
    color: rgb(8, 194, 8);
    font-weight: bold;
    font-size: 48px
    
}
#blogTextMemo {
    background-color: #71315f;
    color: #FFFFFF
}
#blogTextNote {
    background-color: #71315f;
    color: #FFFFFF
}
#mainPageNav {
   text-align: left; 
   transform: translateX(-23%);
}

.jokesRow {
    display: flex;
    text-align: center;
    align-content: center;
    justify-content: space-evenly;
}



#headlineStrip {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.headlineText {
    margin: 0;

}

.headlineIssue {
    margin: 0;
    font-size: 0.9em;
    opacity: 0.8;
}