<!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <link rel="stylesheet" href="../public/css/admin_styles_dark.css">
            <title>Sirius Intranet System: Main Page</title>
        </head>
        <body> 
            <header>
                <p id="navTitle">Main Site Navigation</p>
                <nav aria-label="Main Site navigation">
                    <ul id="mainPageNav">
                        <li><a href="../html/sirius-directory.html">Directory</a></li>
                        <li><a href="../html/sirius-pantry-manager-main.html">Pantry-Manger</a></li>
                        <li><a href="/sirius-notes-memo">Memos/Notes</a></li>
                </nav>
            </header>
            <main>
                <h1>Sirius Systems Intranet Main Page</h1>
                <p>Welcome! If You Can Read This, I Love You!</p>
                
                <section>
                    <h2>Recent Family Memos</h2>
                

                    <section>
                
                    </section>

                    <section>
                    <h2>Recent Memos:</h2>
               
                    </section>

                    <section>
                    <h2>Most Recent Note</h2>
                
                    </section> 
                </section>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <h2>Random Ivy Photo!</h2>
                <!--build an asset folder with Ivy photos that cycle-->
                <img src="../assets/ivy-photo-1.jpg" alt="A Photo of Ivy, but not my kid">
            </main>
            <footer>
                <p>Site Built by: Sirius  </p>
            </footer>
            <script src="../public/js/blog.js" defer></script>
            
        </body>
        
    </html>